<div id='dewey'>
  <div id="dewey-drag-handle"></div>
  <div id="dewey-toggle"></div>
  <div id='dewey-tools'>
    <ul id='dewey-commands'>
<li><a data-command='F' href='#' id='fill-out-forms'>Fill Out Forms</a></li>
<li><a data-command='Q' href='#' id='fill-out-forms-and-submit'>Fill Out and Submit</a></li>
{{!stored.html}}
<li><a data-command='H' href='#' id='dewey-hide'>Hide</a></li>
    </ul>
    <div class='dewey-sessions'>
      <input type="radio" name='dewey-session' data-session="new" />
      <input type="radio" name='dewey-session' data-session="last" />
      <input type="radio" name='dewey-session' data-session="1" />
    </div>
  </div>
</div>
